<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Information Systems LLM</title>
</head>
<body>
    <div id="container">
        <h1>Text Information Systems LLM</h1>
        <form id="form" action="{{url_for('update')}}" method="POST">
            <input id="text" type="text" name="input" placeholder="Ask a Question"></br>
            <input onclick="swap()" type="submit" value="Submit">
        </form>
        <div id="textDiv">
            <p id="p1">{{question}}</p>
            <p id="p2">{{answer}}</p>
        </div>
    </div>
    <script>
        function swap(){
            document.getElementById('p1').innerHTML = "loading..."
            document.getElementById('p2').innerHTML = ""
        }
    </script>
    <style>
        body {
            background-color: lightgreen
        }

        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #text {
            height: 40px;
            width: 300px;
        }

        #form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #textDiv {
            width: 500px;
            text-align: center;
        }
    </style>
</body>
</html>